

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welcome to Awesome Bank</h1>
</div>
<div class="text-center" >
   <img src="download.jfif" height="500"/>
</div>

<div class="row">
     <div class="col-md-6 paddin ">
                
     <button type="button" class="btn btn-secondary" onclick="www.google.com">Transactions</button>
                      
     </div>
       <div class="col-md-6">
        <button type="button" class="btn btn-secondary">Loans</button>
       </div>
</div>

